bin/
javadoc/
src/twcore/bots/duelbot
src/twcore/bots/hockeybot
src/twcore/bots/matchbot
src/twcore/bots/mrarrogant
src/twcore/bots/notifybot
src/twcore/bots/octabot
src/twcore/bots/policebot
src/twcore/bots/pubautobot
src/twcore/bots/pubbot
src/twcore/bots/pubhub
src/twcore/bots/pubsystem
src/twcore/bots/pubrepubbot
src/twcore/bots/socialmedia
src/twcore/bots/staffbot
src/twcore/bots/teamduel
src/twcore/bots/tournybot
src/twcore/bots/twchat
src/twcore/bots/twdbot
src/twcore/bots/twdhub
src/twcore/bots/twdop
src/twcore/bots/twdtbot
src/twcore/bots/twl
