Title: 	TW Web Requirements Document
Date:	21st of May, 2012
Author: SpookedOne	(spookedone@gmail.com)
 
+-------------+
|	PURPOSE   |
+-------------+

The purpose of this document is to define the scope of the tw web project starting in May of 2012. Our current 
web sites at trenchwars.org and twd.trenchwars.net lack similiar themes and are unmanagable by staff in their 
current state. The functionality of both sites is to be included in this requirements document along with 
additional scope added after a meeting for public opinion. 

+---------------------------------+
|	NON-FUNCTIONAL REQUIREMENTS   |
+---------------------------------+

Application shall...
	-use PHP
	-use CodeIgniter framework for PHP 
		http://codeigniter.com/
	-adhere to CodeIgniter Coding Standards 
		http://codeigniter.com/user_guide/general/styleguide.html
	-adhere to MVC architectural design pattern 
		http://www.tonymarston.net/php-mysql/model-view-controller.html
	-use Apache Web Server
	-use MySQL database shared with twcore (bots)
	-use SVN for software versioning and release (branches)
	
+-----------------------------+
|	FUNCTIONAL REQUIREMENTS   |
+-----------------------------+

Application shall...
	-use same visual theme between all pages
	-provide accessable navigation to all pages
	-provide sitemap
	-have tutorial page for players new to game (and pub)
	-have tutorial page for players new to TWD/TWL
	-have download page for accessing the game client and additional softwares
	-have page for trench wars mission statement and objectives
	
	